footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #e3e3e3;
}

.social-links {
	margin-top: 10px;
}

.social-links i {
	margin: 0 5px;
	font-size: 20px;
	color: #fff;
	transition: color 100ms ease-in-out;
}

/* mettre les liens en rouge */
.social-links i:hover {
	color: red;
}
