@import url('https://fonts.movies .googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: roboto;
}

main {
	color: #fff;
	overflow: hidden;
}

body {
	background-color: #1e1e1e;
}

html,
body {
	height: 100%;
	margin: 0;
}

section {
	text-align: center;
}

.AvengersLogo {
	width: 98vw;
	height: 130vh;
	opacity: 0.1;
	position: absolute;
	top: 0px;
	z-index: -1;
	overflow: hidden;
	margin: 0px;
	padding: -1px;
}

.AvengersLogo img {
	width: 200%;
	margin-left: 400px;
}

.movies article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movies .marvelMovies h2 {
	text-align: center;
	color: #fff;
	font-size: 2.3em;
	font-weight: 700;
}

.movies .imgBox {
	width: 25rem;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.movies img {
	width: 100%;
	overflow: hidden;
}

.movies h5 {
	color: rgb(70, 70, 70);
	margin: 0px;
}

.movies h4 {
	color: rgb(0, 0, 0);
	margin-top: 5px;
}

.movies h3 {
	text-transform: uppercase;
}

.movies .movie {
	padding: 12px;
	padding-top: 70px;
	overflow: hidden;
}

.movies .imgBox:hover .movieInfo {
	transform: translateY(0);
}

.movies .movieInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	background-color: #fff;
}

.movies .movieInfo div {
	width: 100%;
}

.movies .movie:hover .movieInfo {
	transform: translateY(0%);
}

.news {
	margin-bottom: 30px;
}

.newsBox {
	background-color: #333;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	text-align: left;
	width: 80%;
	margin: auto;
}

.newsBox h3 {
	color: #fff;
}

.newsBox p {
	color: #ccc;
}

#histoire-marvel {
	background-color: #1e1e1e;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

#histoire-marvel p {
	color: #fff;
}

.toTop a {
	padding: 12px 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: rgb(161, 161, 161);
}

.date {
	font-size: 0.8em;
	font-weight: 100;
}

.welcomeText {
	text-align: left;
	margin-bottom: 50px;
	flex: 1; 
	width: 90vw;
}

.welcomeText h3 {
	margin: 0px;
	font-size: 1.5em;
	margin-left: 3px;
}

.welcome {
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.welcome h2 {
	font-size: 4em;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 0;
}

.welcome p {
	text-align: left;
	margin: 0;
	margin-left: 3px;
	margin-top: 30px;
	width: 50%;
	font-weight: 100;
}

.welcome h2 {
	font-size: 4em;
	text-transform: uppercase;
	text-align: left;
}

.welcome img {
	width: 100%;
}

aside {
	width: 12%;
}

.h {
	display: none;
}

/* tablette */
@media only screen and (max-width: 1268px) {
	.welcome {
		flex-direction: column;
	  }

	  aside {
		width: 100%;
	}
	.v {
		display: none;
	}

	.h {
		display: block;
	}

	.welcome {
		height: 105vh;
	}

	.AvengersLogo {
		width: 97vw;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.welcome {
		height: 85vh;
	}
}
