body {
	font-family: 'Roboto', sans-serif;
	background-color: #1e1e1e;
	color: #fff;
	margin: 0;
	padding: 0;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* style pour les articles */
article {
	background-color: #333;
	border-radius: 12px;
	padding: 20px;
	margin: 20px 0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

article h3 {
	color: #fff;
}

article p {
	color: #ccc;
}

#histoire-marvel {
	background-color: #1e1e1e;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

#histoire-marvel p {
	color: #fff;
}

.toTop a {
	padding: 12px 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: rgb(161, 161, 161);
}

.date {
	font-size: 0.8em;
}
