* {
	box-sizing: 0px;
	margin: 0px;
	padding: 0px;
	font-family: roboto;
}

:root {
	--header-height: 80px;

	--footer-height: 50px;
	--footer-text-size: clamp(1px, 2.5vw, 16px);
	--footer-text-color: #fff;
	--footer-background-color: #212121;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: linear-gradient(180deg, rgba(53, 53, 53, 0) 53.65%, rgba(227, 6, 19, 0.46) 100%);
	background-color: #1e1e1e;
}

main {
}
