@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	font-family: roboto;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 150px);
}

body {
	background-color: #1e1e1e;
}

html,
body {
	height: 100%;
	margin: 0;
}

.textLabel {
	font-size: 1em;
	font-weight: 100;
	margin-bottom: 22px;
}

form {
	display: flex;
	width: 25rem;
	padding: 30px 40px 12px 40px;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 23.949px;
	background: #fff;
	margin-top: 2%;
}

form div {
	width: 100%;
	margin-top: 2px;
}

form div label {
	padding-bottom: 22px;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	line-height: normal;
}

form div input {
	height: 3rem;
	border-radius: 7.983px;
	border: 0.2px solid rgba(70, 79, 93, 0.4);
	background: #fff;
	width: 96.5%;
	padding-left: 12px;
	font-size: 0.9em;
	font-weight: 100;
}

.box {
	width: 100%;
}

form div input::placeholder {
	font-size: 1.1em;
}

.group {
	display: flex;
}

.group select {
	border: 0.2px solid rgba(70, 79, 93, 0.4);
	background: #fff;
	width: 33%;
	font-size: 1.1em;
	padding-left: 12px;
	border-radius: 7.983px 0px 0px 7.983px;
}

.group input {
	border-radius: 0px 7.983px 7.983px 0px;
}

form #info {
	padding: 12px;
	border-radius: 7.983px;
	border: 0.2px solid rgba(70, 79, 93, 0.4);
	background: #fff;
	width: 94%;
	height: 100px;
}

form .drapeau {
	width: 20px;
	margin-right: 5px;
}

form #info::placeholder {
	margin: 12px;
}

form .nameBox {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.buttonBox {
	display: flex;
	flex-direction: row;
	justify-content: end;
	width: 100%;
}

.InfoBox {
	margin-top: 32px;
}

.checkboxBox {
	display: flex;
	margin-top: 32px;
}
.submit {
	margin-top: 22px;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 24px;
	background-color: #1175bc;
	color: white;
	border: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 7.983px;
}

.buttonBox .submit {
	background-color: #f10000;
	cursor: pointer;
	font-weight: 600;
}

.disable {
	background-color: #ccc;
	cursor: not-allowed;
}

.checkboxLabel:checked + .buttonBox .submit {
	background-color: #007bff;
}

input[type="checkbox" i] {
	height:auto;
	width: auto;

}

footer {

}

@media only screen and (max-width: 425px) {
	form {
		margin-top: 0px;
	}
	main {
		transform: scale(0.6);
	}
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
	form {
		margin-top: 2%;
	}

	main {
		transform: scale(0.8);
	}
}
