@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	font-family: roboto;
}

main {
}

body {
	background-color: #1e1e1e;
}

html,
body {
	height: 100%;
	margin: 0;
}

.aboutUs {
	height: 600px;
}
.aboutUs h2 {
	padding: 22px;
	font-size: 2em;
	color: #fff;
	margin: 0px;
}

.aboutUs p {
	color: #fff;
	padding: 22px;
}

.aboutUsInfo {
	width: 50%;
}

.aboutUsText {
	margin-top: 4%;
	width: 50%;
}

.text {
	width: 100%;
	display: flex;
}

.marvelMovies {
	background-color: #ff0011;
}

.marvelMovies h2 {
	text-align: center;
	color: #fff;
	font-size: 2.3em;
	font-weight: 700;
}

.filmList {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.filmList article {
	overflow: hidden;
	width: 340px;
	height: 480px;
	border-radius: 23.949px;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filmList article .imgBox {
	height: 340px;
	overflow: hidden;
}

.filmList article img {
	width: 100%;
}

.filmList article h3 {
	text-align: center;
	font-weight: 900;
	font-size: 2em;
	margin: 10px;
	text-transform: uppercase;
}

.filmList article .cardInfo {
	display: flex;
	justify-content: space-between;
	padding: 12px 12px 12px 12px;
}

.filmList article .cardInfo div {
	text-align: center;
	width: 50%;
}

.filmList article h5 {
	color: gray;
	margin: 0px;
}

.filmList article h4 {
	color: rgb(0, 0, 0);
	margin-top: 5px;
}
